.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.5rem;
  padding: 0 4.8rem;
}
.logo {
  height: 2.2rem;
}
.main-nav {
  &-list {
    list-style: none;
    display: flex;
    gap: 3.2rem;
    li {
      a:hover,
      a:active {
        color: #cf711f;
      }
    }
  }
}
.main-nav-link:link,
.main-nav-link:visited {
  color: #666;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.25s;
}
.nav-cta:link,
.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #fff;
}
/*******************/
/*Featured in*/
/******************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}
.heading-featured-in {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #999;
}
