/*
Primary #e67e22

TINTS : 
Shades:
Accent:
Greys:
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #555;
  line-height: 1;
}
.section__hero {
  background-color: #fdf2e9;
  padding: 7rem 0;
}
.hero {
  display: grid;
  max-width: 125rem;
  margin: 0 auto;
  gap: 9.6rem;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  &__img {
    width: 100%;
  }
  &__description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
  }
  &__btn:link,
  &__btn:visited {
    padding: 1.6rem 3.2rem;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 2rem;
    transition: all 0.3s;
  }
  &__btn--full:link,
  &__btn--full:visited {
    background-color: #e67e22;
    color: #fff;
  }
  &__btn--full:hover,
  &__btn--full:active {
    background-color: #cf711f;
    color: #fff;
  }
  &__btn--outline:link,
  &__btn--outline:visited {
    background-color: #fff;
    color: #e67e22;
    border: 1px solid #e67e22;
  }
}

.margin-right-sm {
  margin-right: 1.6rem;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.deliver-img {
  display: flex;
}
.customer-img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #f2f4e9;
}
.customer-img:last-child {
  margin: 0;
}
.deliver-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.deliver-text span {
  color: #e67e22;
}
/*****************/
/*Testemonial*/
/*****************/

.section-testemonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testemonial-container {
  padding: 2.6rem;
}
.testemonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testemonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testemonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testemonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
  &-img {
    display: block;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &-item {
    overflow: hidden;
  }
}
